*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: #ffffff;
}

:root{
    /* bg */
    --bg-standard: #69141a;

    /* font */
    --font-family: "Roboto", serif;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg-standard);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.container-limit{
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

@media(max-width: 1280px){
    .container-limit{
        width: 100%;
    }
}