#header{
    width: 100%;
    /* background-color: aquamarine; */
    position: fixed;
    top: 0;
    padding: 50px 40px;
    z-index: 100;

    & .container-limit{
        & .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;

            & ul{
                display: flex;
                gap: 30px;
                
                & li{
                    & a{
                        padding: 8px 10px;
                        font-weight: 450;
                        letter-spacing: .6px;
                        opacity: .8;
                        transition: all .3s ease-in-out;

                        &:hover{
                            font-weight: 600;
                            opacity: 1;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    }
}



@media(max-width: 566px){
    #header{
        & nav{
            & .container-limit{
                & ul{
                    width: 100%;
                    justify-content: space-evenly;
                    gap: 0px;

                    & li{
                        & a{
                            font-size: .7rem;
                        }
                    }
                }
            }
        }
    }
}