#contacts{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding-inline: 20px;

    & .contacts-content{
        position: relative;
        z-index: 100;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;

        & .profile-img-area{
            align-content: center;
            
            & img{
                max-width: 350px;
                max-height: 350px;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 0 15px rgba(0,0,0,0.5);
                animation: floatImage 3000ms ease-in-out infinite;
            }
        }

        & .text-area{

            & h1{
                margin-bottom: 15px;
            }

            & .connection-social-media{

                & li{
                    list-style: inside;
                    margin-block: 10px;
                    font-size: 18px;
                    font-weight: 700;

                    & a{
                        & span{
                            letter-spacing: 0;
                            transition: all 400ms ease-in-out;

                            &:hover{
                                letter-spacing: 1.3px;
                            }
                        }
                    }
                }
            }
        }
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to right, transparent, #c5151536, transparent);
        animation: reflect 2s ease-in-out infinite;
        z-index: 0;
        overflow: hidden;
    }
}

@keyframes reflect{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
}

@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }
}

@media(max-width: 950px){
    #contacts{
        height: auto;

        & .contacts-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 100px;

            & .text-area{
                & h1{
                    font-size: max(4.2vw, 22px);
                }

                & p{
                    text-align: center;
                    font-size: max(2vw, 17px);
                }

                & .connection-social-media{
                    & li{
                        & a{
                            font-size: max(1.5vw, 14px);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 500px){
    #contacts{
        & .contacts-content{
            & .profile-img-area{
                & img{
                    width: 100%;
                    height: 100%;
                }
            }

            & .text-area{
                & h1{
                    font-size: max(4.2vw, 22px);
                    text-align: center;
                }
            }

            & p{
                text-align: center;
                font-size: max(2vw, 17px);
                padding: 20px;
            }
        }
    }
}