*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-poppins);
    color: #ffffff;
}

:root{
    /* bg */
    --bg-standard: #69141a;
    --bg-section: linear-gradient(to right, #42090d, #610308);
    --bg-section-reverse: linear-gradient(to right, #610308, #42090d);

    --bg-secondary: #410b0b;

    --span-color: #ff3e3e;

    /* font | Poppins */
    --font-family-poppins: "Poppins", serif;

    /* font | Montserrat */
    --font-family-montserrat: "Montserrat", serif;

    /* font | Source Code Pro */
    --font-family-source-code-pro: "Source Code Pro", serif;
}

html{
    background-color: var(--bg-secondary);
}

body, html{
    scroll-behavior: smooth;
    scroll-padding: 50px;

    &::-webkit-scrollbar{
        width: 0px;
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-standard);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    overflow: hidden;
}

.container-limit{
    max-width: 1280px;
    margin: auto;
}

li{
    list-style: none;
}

br{
    margin-block: 0.4rem;
    content: "";
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
    outline: none;
}

.background-standard{
    background-color: var(--bg-standard);
}



@media(max-width: 1280px){
    .container-limit{
        max-width: 100%;
    }
}