@import "tailwindcss";

:root {
  --font-family: "Libertinus Math", system-ui;

  --background: #ffffff;
  --foreground: #171717;
  --primary: #f5f9ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);

  --animate-item-float: item-float 5s ease-in-out infinite;
  --animate-dot-float-loader: item-float 600ms  ease-in-out infinite;
  --animate-from-left-screen-to-right-screen: from-left-screen-to-right-screen 10s linear infinite;

  @keyframes item-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes from-left-screen-to-right-screen {
    0% {
      opacity: 0;
      transform: translateX(-800%);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(800%);
    }
  }
}

@layer utilities {
  .delay-50 {
    animation-delay: 50ms;
  }
  .delay-100 {
    animation-delay: 100ms;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #040404;
  }
}

* {
  transition: .2s;
  font-family: var(--font-family);
}

body {
  background: var(--background);
  color: #f5f9ff;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
}

strong {
  color: var(--span-color);
}