@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-tertiary-hover: var(--tertiary-hover);
  --color-span-color: var(--span-color);
  --color-span-color-hover: var(--span-color-hover);

  --animate-vertical-bar-to-write: vertical-bar-to-write 1s steps(1) infinite;
  --animate-item-float: item-float 2s ease-in-out infinite;
  --animate-dots-loader: item-float 600ms  ease-in-out infinite;

  @keyframes item-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes vertical-bar-to-write {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer utilities {
  .delay-50 {
    animation-delay: 50ms;
  }
  .delay-100 {
    animation-delay: 100ms;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #030d1c;
    --secondary: #00040a;
    --tertiary: #031a33;
    --tertiary-hover: #072b52;
    --span-color: #5b8fe3;
    --span-color-hover: #4b82db;
  }
}

* {
  transition: .2s;
}

body {
  background: var(--primary);
  color: #f5f9ff;
}

strong {
  color: var(--span-color);
}