@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

h1{
    color: white;
    font-size: 90px;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.18) 0px 10px 20px;
}

p{
    color: rgb(65, 65, 65);
}

h2{
    font-size: 16px;
    font-weight: 600;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(56, 21, 90);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.checkout-container{
    background: linear-gradient(to right, rgb(254, 242, 255), rgb(255, 250, 250));
    width: 550px;
    height: 430px;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.cidade-numero, .estado-cep{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.estado-cep{
    margin-top: -15px;
}

.cidade, .numero, .estado, .cep{
    width: 50%;
}

.expano-cvv{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.endereco-de-cobranca, .pagamento{
    width: 50%;
    padding: 10px;
}

input{
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(202, 202, 202);
    background: linear-gradient(to right, rgba(250, 250, 250, 0.8), rgb(255, 255, 255));
    width: 100%;
    transition: 0.2s;
    padding: 0 10px;
}

input:focus{
    width: 102%;
}

.cartoes{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cartoes img{
    width: 38px;
}

.endereco-de-cobranca div{
    margin-bottom: 15px;
}

.pagamento div{
    margin-bottom: 15px;
}

::placeholder{
    display: flex;
    align-items: center;
}

p{
    font-size: 14px;
}

@media(max-width: 1060px){
    h1{
        font-size: 60px;
    }
}

@media(max-width: 900px){
    h1{
        font-size: 50px;
    }
}

@media(max-width: 845px){
    .container{
        flex-direction: column-reverse;
    }

    h1{
        display: none;
    }
}

@media(max-width: 600px){
    .checkout-container{
        width: 100%;
    }
}

@media(max-width: 530px){
    h2{
        font-size: 12px;
    }

    p{
        font-size: 12px;
    }

    .endereco-de-cobranca div, .pagamento div{
        margin: 2px 0;
    }

    input{
        height: 25px;
    }
    
    ::placeholder{
        font-size: 11px;
    }

    .checkout-container{
        height: 320px;
    }
    .cartoes img{
        width: 30px;
        align-items: start;
        margin-top: -12px;
    }
}

@media(max-width: 455px){
    .checkout-container{
        padding: 20px;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .endereco-de-cobranca, .pagamento{
        padding: 0;
        margin: 0;
        width: 100%;
    }
}